#body {
    width: 1000px;
    margin: 20px ;
    position: relative;
    padding: 20px;
  }
  
  rect {
    fill: none;
    pointer-events: all;
  }
  
  pre {
    font-size: 18px;
  }
  
  line {
    stroke: #0E0;
    stroke-width: 1.5px;
  }
  
  .string, .regexp {
    color: #f39;
  }
  
  .keyword {
    color: #00c;
  }
  
  .comment {
    color: #777;
    font-style: oblique;
  }
  
  .number {
    color: #369;
  }
  
  .class, .special {
    color: #1181B8;
  }
  
  a:link, a:visited {
    color: steelblue;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  
  
  .node circle {
    cursor: pointer;
    fill: #fff;
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  .node text {
    font-size: 13px;
  }
  
  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.0px;
  }

  *{
/* background-color: rgb(7, 27, 49); */
  }
  #header{
    text-align: center;
    color: brown;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
  }

  #heading{
    font-weight: 900 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #footer{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
  }